* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* Track */
  /* Handle */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: rgba(165, 205, 255, 0.4901960784);
}
body::-webkit-scrollbar-thumb {
  background: #20408D;
  border-radius: 10px;
}

body.lock {
  overflow: hidden;
}

h2 {
  color: #20408D;
  font-size: 64px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 1600px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 475px) {
  h2 {
    font-size: 24px;
  }
}

.p1 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}
@media (max-width: 1600px) {
  .p1 {
    font-size: 18px;
  }
}
@media (max-width: 475px) {
  .p1 {
    font-size: 14px !important;
  }
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

button.button {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  border-radius: 52px;
  background: #20408D;
  padding: 20px 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1600px) {
  button.button {
    padding: 20px 50px;
    font-size: 24px;
  }
}
@media (max-width: 1023px) {
  button.button {
    padding: 15px 50px;
    font-size: 18px;
  }
}
@media (max-width: 475px) {
  button.button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
button.button:hover {
  background: #4868B3;
}
button.button:active {
  background: #122043;
}

input {
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: 1px solid #A2A2A2;
  background: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: black;
}
@media (max-width: 1600px) {
  input {
    font-size: 18px;
    line-height: 140%;
  }
}
@media (max-width: 475px) {
  input {
    font-size: 14px;
  }
}
input::-webkit-input-placeholder {
  color: #585858;
}
input::-moz-placeholder {
  color: #585858;
}
input:-ms-input-placeholder {
  color: #585858;
}
input::-ms-input-placeholder {
  color: #585858;
}
input::placeholder {
  color: #585858;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: none;
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/hero-bg-laptop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1600px) {
  .wrapper {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.61)), to(rgba(255, 255, 255, 0))), url("../assets/images/hero-bg-laptop.png");
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0) 100%), url("../assets/images/hero-bg-laptop.png");
  }
}
@media (max-width: 768px) {
  .wrapper {
    background-position: bottom center;
  }
}
@media (max-width: 475px) {
  .wrapper {
    background-position: center right 20%;
    background-image: url("../assets/images/hero-bg-mobile.png");
  }
}

.header {
  padding: 20px 0;
  max-height: 120px;
  height: 112px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(8.5px);
          backdrop-filter: blur(8.5px);
  position: relative;
}
.header-main {
  width: 100%;
  position: fixed;
  z-index: 100;
}
.header-logo {
  max-height: 75px;
}
@media (max-width: 1600px) {
  .header-logo {
    max-height: 60px;
  }
}
@media (max-width: 1023px) {
  .header-logo {
    max-height: 30px;
  }
}
@media (max-width: 1023px) {
  .header {
    height: 95px;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 15px 0;
    height: 60px;
  }
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav a {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
  margin-right: 100px;
}
@media (max-width: 1600px) {
  .header-nav a {
    font-size: 18px;
  }
}
.header-nav a:last-child {
  margin-right: 0;
}
@media (max-width: 1023px) {
  .header-nav {
    display: none;
  }
}
.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 15px;
}
.header-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1600px) {
  .header-item svg {
    width: 20px;
    height: 20px;
  }
}
.header-item span {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
@media (max-width: 1600px) {
  .header-item span {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header-item span {
    font-size: 16px;
  }
}
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 600px) {
  .header-media {
    display: none;
  }
}
.header-burger {
  position: absolute;
  right: -100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 60px;
  margin-left: auto;
  border-radius: 25px 0px 25px 25px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}
@media (max-width: 600px) {
  .header-burger {
    padding: 25px 40px;
  }
}
.header-burger.active {
  right: 0;
}
.header-burger__nav a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}
.header-burger__nav a:last-child {
  margin-bottom: 0;
}
.header-burger__media {
  margin-top: 30px;
  display: none;
}
@media (max-width: 600px) {
  .header-burger__media {
    display: block;
  }
}
.header-burger__media .header-item {
  margin-bottom: 5px;
}

.hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 112px;
}
@media (max-width: 1023px) {
  .hero {
    padding-top: 95px;
  }
}
@media (max-width: 600px) {
  .hero {
    padding-top: 60px;
  }
}
.hero-info {
  max-width: 925px;
}
@media (max-width: 1600px) {
  .hero-info {
    max-width: 665px;
  }
}
@media (max-width: 1023px) {
  .hero-info {
    max-width: 410px;
  }
}
@media (max-width: 475px) {
  .hero-info {
    max-width: 300px;
  }
}
@media (max-width: 375px) {
  .hero-info {
    max-width: 255px;
  }
}
.hero-title {
  color: #20408D;
  font-size: 76px;
  font-weight: 500;
  line-height: 110%;
}
@media (max-width: 1600px) {
  .hero-title {
    font-size: 64px;
  }
}
@media (max-width: 1280px) {
  .hero-title {
    font-size: 52px;
  }
}
@media (max-width: 1023px) {
  .hero-title {
    font-size: 40px;
  }
}
@media (max-width: 475px) {
  .hero-title {
    font-size: 24px;
  }
}
.hero-title span {
  display: block;
  font-size: 128px;
  font-weight: 500;
  line-height: 110%;
}
@media (max-width: 1600px) {
  .hero-title span {
    font-size: 96px;
  }
}
@media (max-width: 1280px) {
  .hero-title span {
    font-size: 80px;
  }
}
@media (max-width: 1023px) {
  .hero-title span {
    font-size: 64px;
    line-height: 150%;
  }
}
@media (max-width: 475px) {
  .hero-title span {
    font-size: 40px;
  }
}
.hero-info {
  margin: 40px 0 100px;
}
@media (max-width: 1600px) {
  .hero-info {
    margin: 30px 0 50px;
  }
}
@media (max-width: 1023px) {
  .hero-info {
    font-size: 16px;
    margin: 25px 0 35px;
  }
}
@media (max-width: 475px) {
  .hero-info {
    font-size: 14px;
  }
}
.hero-download {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about {
  background: #EAF4FF;
  padding: 150px 0;
}
@media (max-width: 1600px) {
  .about {
    padding: 120px 0;
  }
}
@media (max-width: 768px) {
  .about {
    padding: 80px 0;
  }
}
@media (max-width: 475px) {
  .about {
    padding: 70px 0;
  }
}
.about-heading {
  margin-bottom: 30px;
}
.about-info {
  margin-bottom: 45px;
}
.about-info:last-child {
  margin-bottom: 0;
}
@media (max-width: 475px) {
  .about-info {
    margin-bottom: 20px;
  }
}
.about-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 1023px) {
  .about-cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-auto-rows: 1fr;
  }
}
@media (max-width: 600px) {
  .about-cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.about-card {
  border-radius: 50px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
  padding: 40px 12px;
  height: 100%;
}
@media (max-width: 1600px) {
  .about-card {
    border-radius: 35px;
  }
}
@media (max-width: 1023px) {
  .about-card {
    padding: 30px 12px;
    border-radius: 25px;
  }
}
.about-card__heading {
  color: #DB1A0C;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .about-card__heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1023px) {
  .about-card__heading {
    font-size: 24px;
  }
}
@media (max-width: 475px) {
  .about-card__heading {
    font-size: 20px;
  }
}
.about-card__info {
  text-align: center;
}
@media (max-width: 1023px) {
  .about-card__info {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .about-card:last-child {
    width: calc(50% - 7px);
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media (max-width: 600px) {
  .about-card:last-child {
    width: 100%;
    grid-column: unset;
  }
  .about-card:nth-child(2) .about-card__heading br {
    display: none;
  }
}
@media (max-width: 475px) {
  .about-card {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .about-card {
    font-size: 10px;
  }
}

.product {
  padding: 80px 0;
}
@media (max-width: 475px) {
  .product {
    padding: 70px 0;
  }
}
.product-info {
  margin: 30px 0 75px;
}
@media (max-width: 768px) {
  .product-info {
    margin: 20px 0;
  }
}
.product-slider {
  position: relative;
}
@media (max-width: 768px) {
  .product-slide {
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .product-slide {
    padding: 0 50px;
  }
}
.product-slide img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .product-slide img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .product-slide img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .product-slide img {
    width: 70%;
  }
}
@media (max-width: 1280px) {
  .product-slide img {
    width: 100%;
  }
}
.product-slide__title {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
}
.product-slide__title span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 1600px) {
  .product-slide__title span {
    font-size: 18px;
  }
}
@media (max-width: 1600px) {
  .product-slide__title {
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .product-slide__title {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .product-slide__title {
    font-size: 18px;
  }
}
.product-slide__desc {
  display: block;
  margin-top: 10px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
}
@media (max-width: 1600px) {
  .product-slide__desc {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .product-slide__desc {
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .product-slide__desc {
    font-size: 14px;
  }
}
.product-slide__list {
  margin-top: 10px;
  list-style-position: inside;
}
.product-slide__list li {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
}
@media (max-width: 1600px) {
  .product-slide__list li {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .product-slide__list li {
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .product-slide__list li {
    font-size: 14px;
  }
}
.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3882352941);
  display: none;
  z-index: 110;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-modal__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-modal__inner {
  width: 60%;
  margin: 0 auto;
  background: white;
  position: relative;
}
.product-modal__inner #modalPrev {
  left: -30px;
}
.product-modal__inner #modalNext {
  right: -30px;
}
@media (max-width: 1600px) {
  .product-modal__inner {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .product-modal__inner {
    width: 90%;
  }
}
.product-modal__close {
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 10;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .product-modal__close img {
    width: 35px;
  }
}
@media (max-width: 1023px) {
  .product-modal__close img {
    width: 30px;
  }
}
@media (max-width: 475px) {
  .product-modal__close {
    top: -5px;
    right: -5px;
  }
  .product-modal__close img {
    width: 20px;
  }
}
.product-modal__slide {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
}
.product-modal__slide ul {
  display: block;
  width: 100%;
  min-height: 400px;
  padding: 20px 40px 20px 20px;
  margin-bottom: 35px;
  background: -webkit-gradient(linear, right top, left top, color-stop(46.49%, #EAF4FF), to(rgba(234, 244, 255, 0)));
  background: linear-gradient(270deg, #EAF4FF 46.49%, rgba(234, 244, 255, 0) 100%);
}
@media (max-width: 1280px) {
  .product-modal__slide ul {
    min-height: 250px;
  }
}
@media (max-width: 1023px) {
  .product-modal__slide ul {
    margin: 0;
    min-height: unset;
    background: none;
  }
}
@media (max-width: 650px) {
  .product-modal__slide ul {
    padding: 0;
  }
}
.product-modal__slide ul li {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 1600px) {
  .product-modal__slide ul li {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
  .product-modal__slide ul li {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .product-modal__slide ul li {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .product-modal__slide {
    padding-bottom: 0;
  }
}
.product-modal__top {
  height: 180px;
  background: #A5CEFF;
  padding: 40px 70px;
}
@media (max-width: 1280px) {
  .product-modal__top {
    height: 120px;
  }
}
@media (max-width: 1023px) {
  .product-modal__top {
    padding: 25px 35px;
  }
}
@media (max-width: 475px) {
  .product-modal__top {
    height: 160px;
  }
}
.product-modal__title {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 1280px) {
  .product-modal__title {
    font-size: 24px;
  }
}
@media (max-width: 1023px) {
  .product-modal__title {
    font-size: 20px;
  }
}
.product-modal__info {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 1280px) {
  .product-modal__info {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .product-modal__info {
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .product-modal__info {
    font-size: 14px;
    margin-top: 15px;
  }
}
.product-modal__right {
  width: 100%;
}
@media (max-width: 1023px) {
  .product-modal__right {
    background: -webkit-gradient(linear, right top, left top, color-stop(46.49%, #EAF4FF), to(rgba(234, 244, 255, 0)));
    background: linear-gradient(270deg, #EAF4FF 46.49%, rgba(234, 244, 255, 0) 100%);
  }
}
@media (max-width: 650px) {
  .product-modal__right {
    background: none;
  }
}
.product-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}
@media (max-width: 650px) {
  .product-modal__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 45px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    overflow-y: scroll;
  }
}
.product-modal__weight {
  display: inline;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  background: #F0F7FF;
  padding: 15px;
}
@media (max-width: 1280px) {
  .product-modal__weight {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .product-modal__weight {
    display: none;
  }
}
@media (max-width: 650px) {
  .product-modal__weight {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto;
    font-size: 14px;
    padding: 6px 0;
  }
}
.product-modal__weight-mob {
  display: none;
}
@media (max-width: 1023px) {
  .product-modal__weight-mob {
    text-align: center;
    display: block;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    background: #F0F7FF;
    padding: 15px;
  }
}
@media (max-width: 650px) {
  .product-modal__weight-mob {
    display: none;
  }
}
.product-modal__image {
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 40px;
}
@media (max-width: 1023px) {
  .product-modal__image {
    margin-bottom: 15px;
  }
}
@media (max-width: 650px) {
  .product-modal__image {
    padding: 0;
    margin: 0;
  }
}
.product-modal__image img {
  width: 450px;
}
@media (max-width: 1600px) {
  .product-modal__image img {
    width: 300px;
  }
}
@media (max-width: 1280px) {
  .product-modal__image img {
    width: 250px;
  }
}
@media (max-width: 1023px) {
  .product-modal__image img {
    width: 200px;
  }
}
@media (max-width: 650px) {
  .product-modal__image img {
    display: block;
    margin: 0 auto;
    width: 150px;
  }
}
@media (max-width: 1600px) {
  .product-modal #modalNext img,
  .product-modal #modalPrev img {
    width: 45px;
  }
}
@media (max-width: 1023px) {
  .product-modal #modalNext img,
  .product-modal #modalPrev img {
    width: 40px;
  }
}
.product-modal #modalPrev {
  left: -10px;
}
.product-modal #modalNext {
  right: -10px;
}
.product #productPrev {
  left: -60px;
}
@media (max-width: 1280px) {
  .product #productPrev {
    left: -20px;
  }
}
@media (max-width: 600px) {
  .product #productPrev {
    left: 0;
  }
}
.product #productPrev img {
  width: 60px;
}
@media (max-width: 1600px) {
  .product #productPrev img {
    width: 50px;
  }
}
@media (max-width: 1023px) {
  .product #productPrev img {
    width: 40px;
  }
}
@media (max-width: 600px) {
  .product #productPrev img {
    width: 45px;
  }
}
@media (max-width: 475px) {
  .product #productPrev img {
    width: 30px;
  }
}
.product #productNext {
  right: -60px;
}
@media (max-width: 1280px) {
  .product #productNext {
    right: -20px;
  }
}
@media (max-width: 600px) {
  .product #productNext {
    right: 0;
  }
}
.product #productNext img {
  width: 60px;
}
@media (max-width: 1600px) {
  .product #productNext img {
    width: 50px;
  }
}
@media (max-width: 1023px) {
  .product #productNext img {
    width: 40px;
  }
}
@media (max-width: 600px) {
  .product #productNext img {
    width: 45px;
  }
}
@media (max-width: 475px) {
  .product #productNext img {
    width: 30px;
  }
}

.certificate {
  padding: 150px 0;
  background: #EAF4FF;
}
@media (max-width: 1600px) {
  .certificate {
    padding: 120px 0;
  }
}
@media (max-width: 1023px) {
  .certificate {
    padding: 80px 0;
  }
}
@media (max-width: 475px) {
  .certificate {
    padding: 70px 0;
  }
}
.certificate-info {
  margin: 30px 0 70px;
}
.certificate-slider {
  padding: 0 50px;
  position: relative;
}
@media (max-width: 1023px) {
  .certificate-slider {
    padding: 0;
  }
}
.certificate-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 100px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1600px) {
  .certificate-inner {
    row-gap: 75px;
  }
}
@media (max-width: 1023px) {
  .certificate-inner {
    row-gap: 40px;
  }
}
.certificate-inner img {
  width: 100%;
  height: 100%;
  display: block;
}
.certificate-inner button {
  width: 100%;
  border-radius: 60px;
  font-size: 28px;
  padding: 15px 5px;
}
@media (max-width: 1600px) {
  .certificate-inner button {
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .certificate-inner button {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .certificate-inner button {
    font-size: 16px;
    padding: 10px 5px;
  }
}
@media (max-width: 475px) {
  .certificate-inner button {
    font-size: 14px;
  }
}
.certificate-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3882352941);
  display: none;
  z-index: 110;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.certificate-modal__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.certificate-modal__inner {
  width: 60%;
  margin: 0 auto;
  background: white;
  position: relative;
}
@media (max-width: 1280px) {
  .certificate-modal__inner {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .certificate-modal__inner {
    width: 90%;
  }
}
.certificate-modal__slide img {
  width: 100%;
  height: 100%;
}
.certificate-modal__close {
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 10;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .certificate-modal__close img {
    width: 35px;
  }
}
@media (max-width: 1023px) {
  .certificate-modal__close img {
    width: 30px;
  }
}
@media (max-width: 475px) {
  .certificate-modal__close {
    top: -5px;
    right: -5px;
  }
  .certificate-modal__close img {
    width: 20px;
  }
}
@media (max-width: 600px) {
  .certificate #certificatePrev img,
  .certificate #certificateNext img {
    width: 45px;
  }
}
@media (max-width: 475px) {
  .certificate #certificatePrev img,
  .certificate #certificateNext img {
    width: 30px;
  }
}
.certificate-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.certificate-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#EAF4FF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EAF4FF 100%);
  z-index: 10;
}
.certificate-img img {
  position: relative;
  width: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.quality {
  padding-top: 180px;
  position: relative;
  padding-bottom: 100px;
}
@media (max-width: 1600px) {
  .quality {
    padding-top: 100px;
  }
}
@media (max-width: 768px) {
  .quality {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.quality::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #A5CEFF;
  width: 60%;
}
@media (max-width: 475px) {
  .quality::after {
    width: 90%;
  }
}
.quality-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .quality-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.quality-img, .quality-info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media (max-width: 700px) {
  .quality-img, .quality-info {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
  }
}
.quality-img {
  margin-right: 20px;
}
@media (max-width: 600px) {
  .quality-img {
    margin-right: 0;
  }
}
.quality-img img {
  width: 100%;
}
.quality-heading {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .quality-heading {
    margin-bottom: 20px;
  }
}
.quality-text {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .quality-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  position: relative;
}
@media (max-width: 768px) {
  .contacts-wrapper {
    min-height: 245px;
  }
}
@media (max-width: 600px) {
  .contacts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.contacts-heading {
  margin-bottom: 30px;
}
.contacts-media {
  margin: 40px 0 75px;
}
@media (max-width: 1600px) {
  .contacts-media {
    margin: 25px 0;
  }
}
.contacts-media svg {
  width: 40px;
  height: 40px;
  margin-right: 35px;
}
@media (max-width: 1600px) {
  .contacts-media svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .contacts-media svg {
    margin-right: 10px;
  }
}
.contacts-media span {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1600px) {
  .contacts-media span {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .contacts-media span {
    font-size: 16px;
  }
}
.contacts-media a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.contacts-media a:last-child {
  margin-bottom: 0;
}
.contacts-left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
@media (max-width: 768px) {
  .contacts-left {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (max-width: 600px) {
  .contacts-left {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    width: 100%;
  }
}
.contacts-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-left: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 1600px) {
  .contacts-right {
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .contacts-right {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
}
@media (max-width: 600px) {
  .contacts-right {
    width: 100%;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-left: 0;
  }
}
.contacts-right iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .contacts-right iframe {
    height: 205px;
  }
}
.contacts-work {
  border-radius: 50px;
  background: #EAF4FF;
  -webkit-box-shadow: 3px 4px 87px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 87px 0px rgba(0, 0, 0, 0.25);
  padding: 40px 50px;
}
@media (max-width: 1600px) {
  .contacts-work {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .contacts-work {
    position: absolute;
    left: 0;
    bottom: -70px;
    padding: 25px;
    border-radius: 25px;
  }
}
@media (max-width: 600px) {
  .contacts-work {
    left: calc(50% - 140px);
    bottom: -100px;
  }
}
.contacts-work__heading {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .contacts-work__heading {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .contacts-work__heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .contacts-work__heading {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.contacts-work__info {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.contacts-work__info a {
  color: #000;
  margin-top: 5px;
}
@media (max-width: 1600px) {
  .contacts-work__info {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .contacts-work__info {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .contacts-work__info {
    font-size: 14px;
  }
}
.contacts-inner {
  padding-top: 120px;
}
@media (max-width: 600px) {
  .contacts-inner {
    padding-top: 150px;
  }
}
.contacts-form {
  max-width: 1075px;
  margin: 0 auto;
  border-radius: 50px;
  background: #FFF;
  -webkit-box-shadow: 3px 4px 87px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 87px 0px rgba(0, 0, 0, 0.25);
  padding: 50px 90px;
}
@media (max-width: 600px) {
  .contacts-form {
    border-radius: 25px;
  }
}
@media (max-width: 1600px) {
  .contacts-form {
    max-width: none;
    width: 100%;
    padding: 50px;
  }
}
@media (max-width: 768px) {
  .contacts-form {
    max-width: none;
    width: 100%;
    padding: 40px;
  }
}
@media (max-width: 475px) {
  .contacts-form {
    padding: 20px 30px;
  }
}
.contacts-form__heading {
  text-align: center;
  color: #20408D;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 35px;
}
@media (max-width: 1600px) {
  .contacts-form__heading {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .contacts-form__heading {
    font-size: 24px;
  }
}
@media (max-width: 475px) {
  .contacts-form__heading {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
.contacts-form input, .contacts-form button {
  display: block;
  width: 475px;
  margin: 0 auto;
}
.contacts-form input {
  padding: 25px 40px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contacts-form input {
    padding: 15px 30px;
    width: 75%;
  }
}
@media (max-width: 600px) {
  .contacts-form input {
    width: 100%;
  }
}
@media (max-width: 475px) {
  .contacts-form input {
    margin-bottom: 15px;
    font-size: 12px;
    padding: 15px 20px;
  }
}
@media (max-width: 1600px) {
  .contacts-form button {
    width: 320px;
  }
}
@media (max-width: 600px) {
  .contacts-form button {
    width: 100%;
  }
}

.address {
  padding: 65px 0 180px;
}
@media (max-width: 1600px) {
  .address {
    padding: 100px 0 120px;
  }
}
@media (max-width: 768px) {
  .address {
    padding: 65px 0;
  }
}
.address-wrapper {
  position: relative;
}
.address-info {
  margin: 30px 0 50px;
}
.address-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.address-tel a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
@media (max-width: 1600px) {
  .address-tel a {
    font-size: 14px;
  }
}
.address-search {
  margin-bottom: 20px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 59px;
  background: #FFF;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 30px;
}
@media (max-width: 768px) {
  .address-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 475px) {
  .address-search {
    padding: 10px 20px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 475px) {
  .address-search svg {
    width: 20px;
    height: 20px;
  }
}
.address-search input {
  background: transparent;
  color: #090909;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  outline: none;
  border: none;
}
.address-search input::-webkit-input-placeholder {
  color: #929292;
}
.address-search input::-moz-placeholder {
  color: #929292;
}
.address-search input:-ms-input-placeholder {
  color: #929292;
}
.address-search input::-ms-input-placeholder {
  color: #929292;
}
.address-search input::placeholder {
  color: #929292;
}
@media (max-width: 475px) {
  .address-search input {
    font-size: 14px;
  }
}

#city-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  padding: 30px 0;
  border-radius: 0px 30px 30px 30px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  #city-menu {
    display: none;
  }
}
#city-menu h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 20px;
  padding: 0 30px;
}
@media (max-width: 1600px) {
  #city-menu h3 {
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  #city-menu h3 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #city-menu h3 {
    display: none;
  }
}
#city-menu ul {
  max-height: 300px;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
}
@media (max-width: 1023px) {
  #city-menu ul {
    max-height: 200px;
  }
}
#city-menu ul::-webkit-scrollbar {
  width: 7px;
}
#city-menu ul::-webkit-scrollbar-track {
  background: rgba(165, 205, 255, 0.4901960784);
  border-radius: 10px;
}
#city-menu ul::-webkit-scrollbar-thumb {
  background: #20408D;
  border-radius: 10px;
}
#city-menu ul li {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 10px 30px;
  cursor: pointer;
}
@media (max-width: 1600px) {
  #city-menu ul li {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  #city-menu ul li {
    font-size: 16px;
  }
}

.selected {
  background: #FFF;
  /* ds */
  -webkit-box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
}

#map {
  width: 100%;
  height: 765px;
  position: relative;
  z-index: 9;
}
@media (max-width: 1600px) {
  #map {
    height: 530px;
  }
}
@media (max-width: 1023px) {
  #map {
    height: 365px;
  }
}
@media (max-width: 475px) {
  #map {
    height: 270px;
  }
}
#map h3 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  #map h3 {
    font-size: 16px;
  }
}
#map p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 20px;
}
@media (max-width: 1600px) {
  #map p {
    font-size: 14px;
  }
}

.footer {
  background: #DEE6F7;
  padding: 20px 0;
  margin-top: 180px;
}
@media (max-width: 1600px) {
  .footer {
    padding: 30px 0;
  }
}
@media (max-width: 600px) {
  .footer {
    margin-top: 80px;
  }
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .footer-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    row-gap: 25px;
  }
}
@media (max-width: 375px) {
  .footer-wrapper {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.footer-logo {
  max-height: 115px;
}
@media (max-width: 1600px) {
  .footer-logo {
    max-height: 75px;
  }
}
@media (max-width: 850px) {
  .footer-logo {
    max-height: 60px;
  }
}
@media (max-width: 475px) {
  .footer-logo {
    max-height: 50px;
  }
}
.footer-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 20px;
}
@media (max-width: 1600px) {
  .footer-nav {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media (max-width: 850px) {
  .footer-nav {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 600px) {
  .footer-nav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}
.footer-nav a {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 1600px) {
  .footer-nav a {
    font-size: 18px;
    line-height: 140%;
  }
}
@media (max-width: 850px) {
  .footer-nav a {
    font-size: 14px;
    font-weight: 300;
  }
}
.footer-nav a:last-child {
  margin-right: 0;
}
.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 15px;
}
@media (max-width: 850px) {
  .footer-item {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-item svg {
  width: 20px;
  height: 20px;
}
.footer-item span {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
@media (max-width: 1600px) {
  .footer-item span {
    font-size: 18px;
    line-height: 140%;
  }
}
@media (max-width: 850px) {
  .footer-item span {
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .footer-item span {
    font-size: 14px;
  }
}
.footer-c {
  margin-top: 30px;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 1600px) {
  .footer-c {
    font-size: 16px;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .footer-c {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .footer-c {
    margin-top: 50px;
    font-size: 12px;
  }
}

.header__menu {
  display: none;
  z-index: 103;
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 20px !important;
  margin-left: 50px;
}
@media (max-width: 1023px) {
  .header__menu {
    display: block;
  }
}

.header__menu span {
  left: 0;
  position: absolute;
  width: 100%;
  height: 10% !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #000000;
  top: 50%;
  -webkit-transform: scale(1) translate(0, -50%);
          transform: scale(1) translate(0, -50%);
  border-radius: 5px;
}

.header__menu:after,
.header__menu:before {
  content: " ";
}

.header__menu::before {
  top: 0;
}

.header__menu::after {
  bottom: 0;
}

.header__menu::after,
.header__menu::before {
  left: 0;
  position: absolute;
  width: 100%;
  height: 10% !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #000000;
  border-radius: 5px;
}

.header__menu.active span {
  -webkit-transform: scale(0) translate(0, -50%);
          transform: scale(0) translate(0, -50%);
}

.header__menu.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.header__menu.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}