$roboto: 'Roboto', sans-serif;
$blue: #20408D;
$L-laptop: 1600px;
$laptop: 1280px;
$tablet: 1023px;
$L-mobile: 768px;
$mobile: 475px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body.lock {
    overflow: hidden;
}

h2 {
    color: $blue;
    font-size: 64px;
    font-weight: 500;
    line-height: 120%;

    @media(max-width: $L-laptop) {
        font-size: 40px;
    }

    @media(max-width: $L-mobile) {
        font-size: 32px;
    }
    @media(max-width: $mobile){
        font-size: 24px;
    }
}

.p1 {
    color: #000;
    font-family: $roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;

    @media(max-width: $L-laptop) {
        font-size: 18px;
    }

    @media(max-width: $mobile) {
        font-size: 14px;
    }
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button.button {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 52px;
    background: #20408D;
    padding: 20px 60px;
    transition: all 0.3s;

    @media(max-width: $L-laptop) {
        padding: 20px 50px;
        font-size: 24px;
    }

    @media(max-width: $tablet) {
        padding: 15px 50px;
        font-size: 18px;
    }

    @media(max-width: $mobile) {
        font-size: 16px;
        padding: 10px 20px;
    }

    &:hover {
        background: #4868B3;
    }

    &:active {
        background: #122043;
    }
}

input {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid #A2A2A2;
    background: white;
    font-family: $roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: black;

    @media(max-width: $L-laptop) {
        font-size: 18px;
        line-height: 140%;
    }

    @media(max-width: $mobile) {
        font-size: 14px;
    }

    &::placeholder {
        color: #585858;
    }
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;

    @media(max-width: $L-laptop) {
        max-width: 1000px;
    }

    @media(max-width: $tablet) {
        max-width: none;
        padding: 0 40px;
    }

    @media(max-width: $mobile) {
        padding: 0 20px;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/hero-bg-laptop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media(max-width: $mobile){
        background-image: url("../assets/images/hero-bg-mobile.svg");
    }
}
.header {
    padding: 20px 0;
    max-height: 120px;
    position: fixed;
    width: 100%;
    height: 112px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8.5px);

    &-logo {
        max-height: 75px;

        @media(max-width: $L-laptop) {
            max-height: 60px;
        }

        @media(max-width: $tablet) {
            max-height: 45px;
        }
    }

    @media(max-width: $tablet) {
        height: 95px;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-nav {
        display: flex;
        align-items: center;

        a {
            color: #000;
            font-size: 28px;
            font-weight: 400;
            line-height: 120%;
            margin-right: 100px;

            @media(max-width: $L-laptop) {
                font-size: 18px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        @media(max-width: $tablet) {
            display: none;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        & svg {
            @media(max-width: $L-laptop) {
                width: 20px;
                height: 20px;
            }
        }

        & span {
            color: #000;
            font-family: $roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 140%;

            @media(max-width: $L-laptop) {
                font-size: 18px;
            }

            @media(max-width: $tablet) {
                font-size: 16px;
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
    }
    &-media{
        @media(max-width: 600px){
            display: none;
        }
    }
}

.hero {
    // height: calc(100vh - 120px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 112px;

    @media(max-width: $tablet) {
        padding-top: 95px;
    }

    &-info {
        max-width: 925px;

        @media(max-width: $L-laptop) {
            max-width: 665px;
        }

        @media(max-width: $tablet) {
            max-width: 410px;
        }
    }

    &-title {
        color: $blue;
        font-size: 76px;
        font-weight: 500;
        line-height: 110%;

        @media(max-width: $L-laptop) {
            font-size: 64px;
        }

        @media(max-width: $laptop) {
            font-size: 52px;
        }

        @media(max-width: $tablet) {
            font-size: 40px;
        }
        @media(max-width: $mobile){
            font-size: 24px;
        }

        & span {
            display: block;
            font-size: 128px;
            font-weight: 500;
            line-height: 110%;

            @media(max-width: $L-laptop) {
                font-size: 96px;
            }

            @media(max-width: $laptop) {
                font-size: 80px;
            }

            @media(max-width: $tablet) {
                font-size: 64px;
            }
            @media(max-width: $mobile){
                font-size: 40px;
            }
        }
    }

    &-info {
        margin: 40px 0 100px;

        @media(max-width: $L-laptop) {
            margin: 30px 0 50px;
        }

        @media(max-width: $tablet) {
            font-size: 16px;
            margin: 25px 0 35px;
        }
        @media(max-width: $mobile){
            font-size: 14px;
        }
    }

    &-download {
        width: fit-content;
    }

}

.about {
    background: #EAF4FF;
    padding: 150px 0;

    @media(max-width: $L-laptop) {
        padding: 120px 0;
    }
    @media(max-width: $L-mobile){
        padding: 80px 0;
    }
    @media(max-width: $mobile){
        padding: 70px 0;
    }
    &-heading {
        margin-bottom: 30px;
    }

    &-info {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 0;
        }
        @media(max-width: $mobile){
            margin-bottom: 20px;
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        @media(max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            grid-auto-rows: 1fr;
        }

        @media(max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &-card {
        border-radius: 50px;
        background: #FFF;
        box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
        padding: 40px 12px;
        height: 100%;

        @media(max-width: $L-laptop) {
            border-radius: 35px;
        }

        @media(max-width: $tablet) {
            padding: 30px 12px;
        }

        &__heading {
            color: #DB1A0C;
            text-align: center;
            font-size: 44px;
            font-weight: 500;
            line-height: 120%;
            margin-bottom: 30px;

            @media(max-width: $L-laptop) {
                font-size: 30px;
                margin-bottom: 20px;
            }

            @media(max-width: $tablet) {
                font-size: 24px;
            }
            @media(max-width: $mobile){
                font-size: 20px;
            }
        }

        &__info {
            text-align: center;

            @media(max-width: $tablet) {
                font-size: 16px;
            }
        }

        @media(max-width: $tablet) {
            &:last-child {
                width: calc(50% - 7px);
                grid-column: 1/3;
                justify-self: center;
            }
        }

        @media(max-width: 600px) {
            &:last-child{
                width: 100%;
                grid-column: unset;
            }
            &:nth-child(2){
                .about-card__heading{
                    br{
                        display: none;
                    }
                }
            }
        }
        @media(max-width: $mobile){
            font-size: 14px;
        }
        @media(max-width: 375px){
            font-size: 10px;
        }
    }
}

.footer {
    background: #DEE6F7;
    padding: 20px 0;

    @media(max-width: $L-laptop) {
        padding: 30px 0;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: 600px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 40px;
            row-gap: 25px;
        }
    }
    &-logo {
        max-height: 115px;

        @media(max-width: $L-laptop) {
            max-height: 75px;
        }

        @media(max-width: 850px) {
            max-height: 60px;
        }
    }
    &-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 100px;
        row-gap: 20px;

        @media(max-width: $L-laptop) {
            column-gap: 50px;
        }

        @media(max-width: 850px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media(max-width: 600px){
            grid-column: 2/3;
            grid-row: 1/3;
        }
        a {
            color: #000;
            font-size: 28px;
            font-weight: 400;
            line-height: 120%;

            @media(max-width: $L-laptop) {
                font-size: 18px;
                line-height: 140%;
            }

            @media(max-width: 850px) {
                font-size: 14px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-item {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 15px;

        @media(max-width: 850px) {
            column-gap: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        & svg {
            width: 20px;
            height: 20px;
        }

        & span {
            color: #000;
            font-family: $roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 140%;

            @media(max-width: $L-laptop) {
                font-size: 18px;
                line-height: 140%;
            }

            @media(max-width: 850px) {
                font-size: 16px;
            }
        }
    }


    &-c {
        margin-top: 30px;
        color: #000;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: normal;

        @media(max-width: $L-laptop) {
            font-size: 16px;
            margin-top: 15px;
        }

        @media(max-width: $L-mobile) {
            font-size: 14px;
        }
        @media(max-width: 600px){
            margin-top: 50px;
            font-size: 12px;
        }
    }
}

.header__menu {
    display: none;
    z-index: 103;
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 20px !important;
    margin-left: 50px;

    @media(max-width: $tablet) {
        display: block;
    }
}

.header__menu span {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10% !important;
    transition: all .3s ease;
    background: #000000;
    top: 50%;
    transform: scale(1) translate(0, -50%);
    border-radius: 5px;
}

.header__menu:after,
.header__menu:before {
    content: " ";
}

.header__menu::before {
    top: 0;
}

.header__menu::after {
    bottom: 0;
}

.header__menu::after,
.header__menu::before {
    left: 0;
    position: absolute;
    width: 100%;
    height: 11% !important;
    transition: all .3s ease;
    background: #000000;
    border-radius: 5px;
}