$roboto: 'Roboto', sans-serif;
$blue: #20408D;
$L-laptop: 1600px;
$laptop: 1280px;
$tablet: 1023px;
$L-mobile: 768px;
$mobile: 475px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #a5cdff7d;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #20408D;
        border-radius: 10px;
    }
}

body.lock {
    overflow: hidden;
}

h2 {
    color: $blue;
    font-size: 64px;
    font-weight: 500;
    line-height: 120%;

    @media(max-width: $L-laptop) {
        font-size: 40px;
    }

    @media(max-width: $L-mobile) {
        font-size: 32px;
    }

    @media(max-width: $mobile) {
        font-size: 24px;
    }
}

.p1 {
    color: #000;
    font-family: $roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;

    @media(max-width: $L-laptop) {
        font-size: 18px;
    }

    @media(max-width: $mobile) {
        font-size: 14px !important;
    }
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button.button {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 52px;
    background: #20408D;
    padding: 20px 60px;
    transition: all 0.3s;

    @media(max-width: $L-laptop) {
        padding: 20px 50px;
        font-size: 24px;
    }

    @media(max-width: $tablet) {
        padding: 15px 50px;
        font-size: 18px;
    }

    @media(max-width: $mobile) {
        font-size: 16px;
        padding: 10px 20px;
    }

    &:hover {
        background: #4868B3;
    }

    &:active {
        background: #122043;
    }
}

input {
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid #A2A2A2;
    background: white;
    font-family: $roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: black;

    @media(max-width: $L-laptop) {
        font-size: 18px;
        line-height: 140%;
    }

    @media(max-width: $mobile) {
        font-size: 14px;
    }

    &::placeholder {
        color: #585858;
    }
}

a {
    display: block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;

    @media(max-width: $L-laptop) {
        max-width: 1000px;
    }

    @media(max-width: $tablet) {
        max-width: none;
        padding: 0 40px;
    }

    @media(max-width: 600px) {
        padding: 0 20px;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/hero-bg-laptop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media(max-width: $L-laptop) {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.00) 100%), url("../assets/images/hero-bg-laptop.png");
    }

    @media(max-width: $L-mobile) {
        background-position: bottom center;
    }

    @media(max-width: $mobile) {
        background-position: center right 20%;
        background-image: url("../assets/images/hero-bg-mobile.png");
        // background-image: linear-gradient(60deg, rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.00) 100%), url("../assets/images/hero-bg-mobile.png");
    }
}

.header {
    padding: 20px 0;
    max-height: 120px;
    // position: fixed;
    height: 112px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(8.5px);
    position: relative;

    &-main {
        width: 100%;
        position: fixed;
        z-index: 100;
    }

    &-logo {
        max-height: 75px;

        @media(max-width: $L-laptop) {
            max-height: 60px;
        }

        @media(max-width: $tablet) {
            max-height: 30px;
        }
    }

    @media(max-width: $tablet) {
        height: 95px;
    }

    @media(max-width: 600px) {
        padding: 15px 0;
        height: 60px;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-nav {
        display: flex;
        align-items: center;

        a {
            color: #000;
            font-size: 28px;
            font-weight: 400;
            line-height: 120%;
            margin-right: 100px;

            @media(max-width: $L-laptop) {
                font-size: 18px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        @media(max-width: $tablet) {
            display: none;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        & svg {
            @media(max-width: $L-laptop) {
                width: 20px;
                height: 20px;
            }
        }

        & span {
            color: #000;
            font-family: $roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 140%;

            @media(max-width: $L-laptop) {
                font-size: 18px;
            }

            @media(max-width: $tablet) {
                font-size: 16px;
            }
        }
    }

    &-right {
        display: flex;
        align-items: center;
    }

    &-media {
        @media(max-width: 600px) {
            display: none;
        }
    }

    &-burger {
        position: absolute;
        right: -100%;

        width: fit-content;
        padding: 30px 60px;
        margin-left: auto;
        border-radius: 25px 0px 25px 25px;
        background: #FFF;
        box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
        transition: right .5s;

        @media(max-width: 600px) {
            padding: 25px 40px;
        }

        &.active {
            right: 0;
        }

        &__nav {
            a {
                color: #000;
                font-size: 16px;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__media {
            margin-top: 30px;
            display: none;

            @media(max-width: 600px) {
                display: block;
            }

            & .header-item {
                margin-bottom: 5px;
            }
        }

    }
}

.hero {
    // height: calc(100vh - 120px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 112px;

    @media(max-width: $tablet) {
        padding-top: 95px;
    }

    @media(max-width: 600px) {
        padding-top: 60px;
    }

    &-info {
        max-width: 925px;

        @media(max-width: $L-laptop) {
            max-width: 665px;
        }

        @media(max-width: $tablet) {
            max-width: 410px;
        }

        @media(max-width: $mobile) {
            max-width: 300px;
        }

        @media(max-width: 375px) {
            max-width: 255px;
        }
    }

    &-title {
        color: $blue;
        font-size: 76px;
        font-weight: 500;
        line-height: 110%;

        @media(max-width: $L-laptop) {
            font-size: 64px;
        }

        @media(max-width: $laptop) {
            font-size: 52px;
        }

        @media(max-width: $tablet) {
            font-size: 40px;
        }

        @media(max-width: $mobile) {
            font-size: 24px;
        }

        & span {
            display: block;
            font-size: 128px;
            font-weight: 500;
            line-height: 110%;

            @media(max-width: $L-laptop) {
                font-size: 96px;
            }

            @media(max-width: $laptop) {
                font-size: 80px;
            }

            @media(max-width: $tablet) {
                font-size: 64px;
                line-height: 150%;
            }

            @media(max-width: $mobile) {
                font-size: 40px;
            }
        }
    }

    &-info {
        margin: 40px 0 100px;

        @media(max-width: $L-laptop) {
            margin: 30px 0 50px;
        }

        @media(max-width: $tablet) {
            font-size: 16px;
            margin: 25px 0 35px;
        }

        @media(max-width: $mobile) {
            font-size: 14px;
        }
    }

    &-download {
        width: fit-content;
    }

}

.about {
    background: #EAF4FF;
    padding: 150px 0;

    @media(max-width: $L-laptop) {
        padding: 120px 0;
    }

    @media(max-width: $L-mobile) {
        padding: 80px 0;
    }

    @media(max-width: $mobile) {
        padding: 70px 0;
    }

    &-heading {
        margin-bottom: 30px;
    }

    &-info {
        margin-bottom: 45px;

        &:last-child {
            margin-bottom: 0;
        }

        @media(max-width: $mobile) {
            margin-bottom: 20px;
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        @media(max-width: $tablet) {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            grid-auto-rows: 1fr;
        }

        @media(max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &-card {
        border-radius: 50px;
        background: #FFF;
        box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
        padding: 40px 12px;
        height: 100%;

        @media(max-width: $L-laptop) {
            border-radius: 35px;
        }

        @media(max-width: $tablet) {
            padding: 30px 12px;
            border-radius: 25px;
        }

        &__heading {
            color: #DB1A0C;
            text-align: center;
            font-size: 44px;
            font-weight: 500;
            line-height: 120%;
            margin-bottom: 30px;

            @media(max-width: $L-laptop) {
                font-size: 30px;
                margin-bottom: 20px;
            }

            @media(max-width: $tablet) {
                font-size: 24px;
            }

            @media(max-width: $mobile) {
                font-size: 20px;
            }
        }

        &__info {
            text-align: center;

            @media(max-width: $tablet) {
                font-size: 16px;
            }
        }

        @media(max-width: $tablet) {
            &:last-child {
                width: calc(50% - 7px);
                grid-column: 1/3;
                justify-self: center;
            }
        }

        @media(max-width: 600px) {
            &:last-child {
                width: 100%;
                grid-column: unset;
            }

            &:nth-child(2) {
                .about-card__heading {
                    br {
                        display: none;
                    }
                }
            }
        }

        @media(max-width: $mobile) {
            font-size: 14px;
        }

        @media(max-width: 375px) {
            font-size: 10px;
        }
    }
}

.product {
    padding: 80px 0;

    @media(max-width: $mobile) {
        padding: 70px 0;
    }

    &-info {
        margin: 30px 0 75px;

        @media(max-width: $L-mobile) {
            margin: 20px 0;
        }
    }

    &-slider {
        position: relative;
    }

    &-slide {
        @media(max-width: $L-mobile) {
            padding: 0 20px;
        }

        @media(max-width: 600px) {
            padding: 0 50px;
        }

        & img {
            width: 100%;
            display: block;
            margin: 0 auto;

            @media(max-width: $laptop) {
                width: 80%;
            }

            @media(max-width: $L-mobile) {
                width: 100%;
            }

            @media(max-width: 600px) {
                width: 70%;
            }

            @media(max-width: $laptop) {
                width: 100%;
            }
        }

        &__title {
            color: #000;
            font-size: 28px;
            font-weight: 500;
            line-height: 120%;

            span {
                display: block;
                font-size: 20px;
                font-weight: 400;
                line-height: 120%;

                @media(max-width: $L-laptop) {
                    font-size: 18px;
                }
            }

            @media(max-width: $L-laptop) {
                font-size: 24px;
            }

            @media(max-width: $laptop) {
                font-size: 22px;
            }

            @media(max-width: $L-mobile) {
                font-size: 18px;
            }
        }

        &__desc {
            display: block;
            margin-top: 10px;
            color: #000;
            font-family: $roboto;
            font-size: 20px;
            font-weight: 300;
            line-height: 120%;

            @media(max-width: $L-laptop) {
                font-size: 18px;
            }

            @media(max-width: $tablet) {
                font-size: 16px;
            }

            @media(max-width: $mobile) {
                font-size: 14px;
            }
        }

        &__list {
            margin-top: 10px;
            list-style-position: inside;

            & li {
                color: #000;
                font-family: $roboto;
                font-size: 20px;
                font-weight: 300;
                line-height: 120%;

                @media(max-width: $L-laptop) {
                    font-size: 18px;
                }

                @media(max-width: $tablet) {
                    font-size: 16px;
                }

                @media(max-width: $mobile) {
                    font-size: 14px;
                }
            }
        }
    }

    &-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000063;
        display: none;
        z-index: 110;
        align-items: center;
        justify-content: center;

        &__flex {
            display: flex;

        }

        &__inner {
            width: 60%;
            margin: 0 auto;
            background: white;
            position: relative;

            & #modalPrev {
                left: -30px;
            }

            & #modalNext {
                right: -30px;
            }

            @media(max-width: $L-laptop) {
                width: 80%;
            }

            @media(max-width: $L-mobile) {
                width: 90%;
            }
        }

        &__close {
            position: absolute;
            right: -15px;
            top: -15px;
            z-index: 10;
            cursor: pointer;

            @media(max-width: $L-laptop) {
                & img {
                    width: 35px;
                }
            }

            @media(max-width: $tablet) {
                & img {
                    width: 30px;
                }
            }

            @media(max-width: $mobile) {
                top: -5px;
                right: -5px;

                & img {
                    width: 20px;
                }
            }
        }

        &__slide {
            width: 100%;
            height: 100%;
            padding-bottom: 40px;

            & ul {
                display: block;
                width: 100%;
                min-height: 400px;
                padding: 20px 40px 20px 20px;
                margin-bottom: 35px;
                background: linear-gradient(270deg, #EAF4FF 46.49%, rgba(234, 244, 255, 0.00) 100%);
                @media(max-width: $laptop) {
                    min-height: 250px;
                }

                @media(max-width:$tablet) {
                    margin: 0;
                    min-height: unset;
                    background: none;
                }
                @media(max-width: 650px){
                    padding: 0;
                }

                & li {
                    color: #000;
                    font-family: $roboto;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 140%;

                    @media(max-width: $L-laptop) {
                        font-size: 16px;
                    }

                    @media(max-width: $laptop) {
                        font-size: 14px;
                    }

                    @media(max-width: $tablet) {
                        font-size: 12px;
                    }
                }
            }

            @media(max-width: $tablet) {
                padding-bottom: 0;
            }
        }

        &__top {
            height: 180px;
            background: #A5CEFF;
            padding: 40px 70px;

            @media(max-width: $laptop) {
                height: 120px;
            }

            @media(max-width: $tablet) {
                padding: 25px 35px;
            }
        }

        &__title {
            color: #000;
            font-size: 32px;
            font-weight: 500;
            line-height: 120%;

            @media(max-width: $laptop) {
                font-size: 24px;
            }

            @media(max-width: $tablet) {
                font-size: 20px;
            }
        }

        &__info {
            color: #000;
            font-size: 24px;
            font-weight: 500;
            line-height: 120%;

            @media(max-width: $laptop) {
                font-size: 18px;
            }

            @media(max-width: $tablet) {
                font-size: 16px;
            }
        }

        &__right {
            width: 100%;

            @media(max-width: $tablet) {
                background: linear-gradient(270deg, #EAF4FF 46.49%, rgba(234, 244, 255, 0.00) 100%);
            }
            @media(max-width: 650px){
                background: none;
            }
        }

        &__content {
            display: flex;
            align-items: stretch;
            position: relative;

            @media(max-width: 650px) {
                flex-direction: column;
                padding: 5px 45px;
                flex-grow: 1; 
                overflow-y: scroll;
            }
        }

        &__weight {
            display: inline;
            color: #000;
            font-family: $roboto;
            font-size: 18px;
            font-weight: 500;
            line-height: 140%;
            background: #F0F7FF;
            padding: 15px;

            @media(max-width: $laptop) {
                font-size: 14px;
            }

            @media(max-width: $tablet) {
                display: none;
            }
            @media(max-width: 650px){
                display: block;
                width: fit-content;
                margin: 15px auto;
                font-size: 14px;
                padding: 6px 0;
            }
            &-mob {
                display: none;

                @media(max-width: $tablet) {
                    text-align: center;
                    display: block;
                    color: #000;
                    font-family: $roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 140%;
                    background: #F0F7FF;
                    padding: 15px;
                }
                @media(max-width: 650px){
                    display: none;
                }
            }
        }

        &__image {
            margin-right: 20px;
            padding-top: 20px;
            padding-left: 40px;

            @media(max-width:$tablet) {
                margin-bottom: 15px;
            }
            @media(max-width: 650px){
                padding: 0;
                margin: 0;
            }
            img {
                width: 450px;

                @media(max-width: $L-laptop) {
                    width: 300px;
                }

                @media(max-width: $laptop) {
                    width: 250px;
                }

                @media(max-width: $tablet) {
                    width: 200px;
                }
                @media(max-width: 650px){
                    display: block;
                    margin: 0 auto;
                    width: 150px;
                }
            }
        }

        #modalNext,
        #modalPrev {
            & img {
                @media(max-width: $L-laptop) {
                    width: 45px;
                }

                @media(max-width: $tablet) {
                    width: 40px;
                }
            }
        }

        #modalPrev {
            left: -10px;
        }

        #modalNext {
            right: -10px;
        }
    }

    #productPrev {
        left: -60px;

        @media(max-width: $laptop) {
            left: -20px;
        }

        @media(max-width: 600px) {
            left: 0;
        }

        img {
            width: 60px;

            @media(max-width: $L-laptop) {
                width: 50px;
            }

            @media(max-width: $tablet) {
                width: 40px;
            }

            @media(max-width: 600px) {
                width: 45px;
            }

            @media(max-width: $mobile) {
                width: 30px;
            }
        }
    }

    #productNext {
        right: -60px;

        @media(max-width: $laptop) {
            right: -20px;
        }

        @media(max-width: 600px) {
            right: 0;
        }

        img {
            width: 60px;

            @media(max-width: $L-laptop) {
                width: 50px;
            }

            @media(max-width: $tablet) {
                width: 40px;
            }

            @media(max-width: 600px) {
                width: 45px;
            }

            @media(max-width: $mobile) {
                width: 30px;
            }
        }
    }
}

.certificate {
    padding: 150px 0;
    background: #EAF4FF;

    @media(max-width: $L-laptop) {
        padding: 120px 0;
    }

    @media(max-width: $tablet) {
        padding: 80px 0;
    }

    @media(max-width: $mobile) {
        padding: 70px 0;
    }

    &-info {
        margin: 30px 0 70px;
    }

    &-slider {
        padding: 0 50px;
        position: relative;

        @media(max-width: $tablet) {
            padding: 0;
        }
    }

    &-inner {
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        width: 100%;
        height: 100%;

        @media(max-width: $L-laptop) {
            row-gap: 75px;
        }

        @media(max-width: $tablet) {
            row-gap: 40px;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
        }

        button {
            width: 100%;
            border-radius: 60px;
            font-size: 28px;
            padding: 15px 5px;

            @media(max-width: $L-laptop) {
                font-size: 24px;
            }

            @media(max-width: $laptop) {
                font-size: 20px;
            }

            @media(max-width: $tablet) {
                font-size: 16px;
                padding: 10px 5px;
            }

            @media(max-width: $mobile) {
                font-size: 14px;
            }
        }
    }

    &-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000063;
        display: none;
        z-index: 110;
        align-items: center;
        justify-content: center;

        &__flex {
            display: flex;

        }

        &__inner {
            width: 60%;
            margin: 0 auto;
            background: white;
            position: relative;

            @media(max-width: $laptop) {
                width: 80%;
            }

            @media(max-width: $L-mobile) {
                width: 90%;
            }
        }

        &__slide {
            & img {
                width: 100%;
                height: 100%;
            }
        }

        &__close {
            position: absolute;
            right: -15px;
            top: -15px;
            z-index: 10;
            cursor: pointer;

            @media(max-width: $L-laptop) {
                & img {
                    width: 35px;
                }
            }

            @media(max-width: $tablet) {
                & img {
                    width: 30px;
                }
            }

            @media(max-width: $mobile) {
                top: -5px;
                right: -5px;

                & img {
                    width: 20px;
                }
            }
        }
    }

    #certificatePrev,
    #certificateNext {
        & img {
            @media(max-width: 600px) {
                width: 45px;
            }

            @media(max-width: $mobile) {
                width: 30px;
            }
        }
    }

    &-img {
        position: relative;
        width: 100%;
        height: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #EAF4FF 100%);
            z-index: 10;
        }

        img {
            position: relative;
            width: 100%;

        }
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.quality {
    padding-top: 180px;
    position: relative;
    padding-bottom: 100px;

    @media(max-width: $L-laptop) {
        padding-top: 100px;
    }

    @media(max-width: $L-mobile) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #A5CEFF;
        width: 60%;

        @media(max-width: $mobile) {
            width: 90%;
        }
    }

    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media(max-width: 700px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    &-img,
    &-info {
        flex-basis: 50%;

        @media(max-width: 700px) {
            flex-basis: unset;
        }
    }

    &-img {
        margin-right: 20px;

        @media(max-width: 600px) {
            margin-right: 0;
        }

        img {
            width: 100%;
        }
    }

    &-heading {
        margin-bottom: 30px;

        @media(max-width:$L-mobile) {
            margin-bottom: 20px;
        }
    }

    &-text {
        margin-bottom: 30px;

        @media(max-width: $L-mobile) {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}

.contacts {
    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        align-items: stretch;
        position: relative;

        @media(max-width: $L-mobile) {
            min-height: 245px;
        }

        @media(max-width: 600px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &-heading {
        margin-bottom: 30px;
    }

    &-media {
        margin: 40px 0 75px;

        @media(max-width: $L-laptop) {
            margin: 25px 0;
        }

        & svg {
            width: 40px;
            height: 40px;
            margin-right: 35px;

            @media(max-width: $L-laptop) {
                width: 20px;
                height: 20px;
                margin-right: 20px;
            }

            @media(max-width: $L-mobile) {
                margin-right: 10px;
            }
        }

        & span {
            color: #000;
            font-size: 28px;
            font-weight: 500;
            line-height: 140%;
            font-family: $roboto;

            @media(max-width: $L-laptop) {
                font-size: 20px;
            }

            @media(max-width: $L-mobile) {
                font-size: 16px;
            }
        }

        & a {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-left {
        flex-basis: 40%;

        @media(max-width: $L-mobile) {
            flex-basis: 45%;
        }

        @media(max-width: 600px) {
            flex-basis: unset;
            width: 100%;
        }
    }

    &-right {
        flex-basis: 60%;
        margin-left: 40px;
        flex-grow: 1;

        @media(max-width: $L-laptop) {
            margin-left: 20px;
        }

        @media(max-width: $L-mobile) {
            flex-basis: 55%;
        }

        @media(max-width: 600px) {
            width: 100%;
            flex-basis: unset;
            margin-left: 0;
        }

        & iframe {
            width: 100%;
            height: 100%;

            @media(max-width: 600px) {
                height: 205px;
            }
        }
    }

    &-work {
        border-radius: 50px;
        background: #EAF4FF;
        box-shadow: 3px 4px 87px 0px rgba(0, 0, 0, 0.25);
        padding: 40px 50px;

        @media(max-width: $L-laptop) {
            padding: 30px;
        }

        @media(max-width: $L-mobile) {
            position: absolute;
            left: 0;
            bottom: -70px;
            padding: 25px;
            border-radius: 25px;
        }

        @media(max-width: 600px) {
            left: calc(50% - 140px);
            bottom: -100px;
        }

        &__heading {
            color: #000;
            font-size: 36px;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 40px;

            @media(max-width: $L-laptop) {
                font-size: 24px;
                margin-bottom: 25px;
            }

            @media(max-width: $L-mobile) {
                font-size: 20px;
                margin-bottom: 20px;
            }

            @media(max-width: 600px) {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }

        &__info {
            color: #000;
            font-size: 24px;
            font-weight: 500;
            line-height: normal;

            & a {
                color: #000;
                margin-top: 5px;
            }

            @media(max-width: $L-laptop) {
                font-size: 20px;
            }

            @media(max-width: $L-mobile) {
                font-size: 18px;
            }

            @media(max-width: 600px) {
                font-size: 14px;
            }
        }
    }

    &-inner {
        padding-top: 120px;

        @media(max-width:600px) {
            padding-top: 150px;
        }
    }

    &-form {
        max-width: 1075px;
        margin: 0 auto;
        border-radius: 50px;
        background: #FFF;
        box-shadow: 3px 4px 87px 0px rgba(0, 0, 0, 0.25);
        padding: 50px 90px;

        @media(max-width:600px) {
            border-radius: 25px;
        }

        @media(max-width: $L-laptop) {
            max-width: none;
            width: 100%;
            padding: 50px;
        }

        @media(max-width: $L-mobile) {
            max-width: none;
            width: 100%;
            padding: 40px;
        }

        @media(max-width: $mobile) {
            padding: 20px 30px;
        }

        &__heading {
            text-align: center;
            color: #20408D;
            font-size: 36px;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 35px;

            @media(max-width: $L-laptop) {
                font-size: 32px;
            }

            @media(max-width: $L-mobile) {
                font-size: 24px;
            }

            @media(max-width: $mobile) {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }

        & input,
        & button {
            display: block;
            width: 475px;
            margin: 0 auto;
        }

        & input {
            padding: 25px 40px;
            margin-bottom: 20px;

            @media(max-width: $L-mobile) {
                padding: 15px 30px;
                width: 75%;
            }

            @media(max-width: 600px) {
                width: 100%;
            }

            @media(max-width: $mobile) {
                margin-bottom: 15px;
                font-size: 12px;
                padding: 15px 20px;
            }
        }

        & button {
            @media(max-width: $L-laptop) {
                width: 320px;
            }

            @media(max-width: 600px) {
                width: 100%;
            }
        }
    }
}

.address {
    padding: 65px 0 180px;
    @media(max-width:$L-laptop){
        padding: 100px 0 120px;
    }
    @media(max-width: $L-mobile){
        padding: 65px 0;
    }
    &-wrapper{
        position: relative;
    }
    &-info {
        margin: 30px 0 50px;
    }
    &-tel{
        display: flex;
        align-items: center;
        column-gap: 20px;
        a{
            color: #000;
            font-family: $roboto;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%; 
            @media(max-width: $L-laptop){
                font-size: 14px;
            }
        }
    }
    &-search{
        margin-bottom: 20px;
        display: none;
        align-items: center;
        border-radius: 59px;
        background: #FFF;
        column-gap: 30px;
        box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
        padding: 15px 30px;
        @media(max-width: $L-mobile){
            display: flex;
        }
        @media(max-width: $mobile){
            padding: 10px 20px;
            column-gap: 20px;
        }
        & svg{
            @media(max-width: $mobile){
                width: 20px;
                height: 20px;
            }
        }
        & input{
            background: transparent;
            color: #090909;
            font-family: $roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            outline: none;
            border: none;
            &::placeholder{
                color: #929292;
            }
            @media(max-width: $mobile){
                font-size: 14px;
            }
        }
    }
}

#city-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    z-index: 10;
    padding: 30px 0;
    border-radius: 0px 30px 30px 30px;
    background: #FFF;
    box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
    @media(max-width: $L-mobile){
        display: none;
    }

    & h3 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 20px;
        padding: 0 30px;
        @media(max-width:$L-laptop){
            font-size: 20px;
        }
        @media(max-width: $tablet){
            font-size: 18px;
        }
        @media(max-width: $L-mobile){
            display: none;
        }
    }

    & ul {
        max-height: 300px;
        overflow-y: scroll;
        @media(max-width: $tablet){
            max-height: 200px;
        }
        /* width */
        &::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #a5cdff7d;
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #20408D;
            border-radius: 10px;
        }

        & li {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            padding: 10px 30px;
            cursor: pointer;
            @media(max-width: $L-laptop){
                font-size: 18px;
            }
            @media(max-width: $tablet){
                font-size: 16px;
            }
        }
    }
}

.selected {
    background: #FFF;

    /* ds */
    box-shadow: 0px 4px 47px 0px rgba(0, 0, 0, 0.25);
}

#map {
    width: 100%;
    height: 765px;
    position: relative;
    z-index: 9;

    @media(max-width: $L-laptop) {
        height: 530px;
    }

    @media(max-width: $tablet) {
        height: 365px;
    }

    @media(max-width: $mobile) {
        height: 270px;
    }
    & h3{
        color: #000;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%; 
        font-family: "Montserrat", sans-serif;
        margin-bottom: 20px;
        @media(max-width: $L-laptop){
            font-size: 16px;
        }
    }
    & p{
        color: #000;
        font-family: $roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
        margin-bottom: 20px;
        @media(max-width: $L-laptop){
            font-size: 14px;
        }
    }
}

.footer {
    background: #DEE6F7;
    padding: 20px 0;
    margin-top: 180px;

    @media(max-width: $L-laptop) {
        padding: 30px 0;
    }

    @media(max-width: 600px) {
        margin-top: 80px;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 600px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 40px;
            row-gap: 25px;
        }

        @media(max-width: 375px) {
            column-gap: 30px;
        }
    }

    &-logo {
        max-height: 115px;

        @media(max-width: $L-laptop) {
            max-height: 75px;
        }

        @media(max-width: 850px) {
            max-height: 60px;
        }

        @media(max-width: $mobile) {
            max-height: 50px;
        }
    }

    &-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 100px;
        row-gap: 20px;

        @media(max-width: $L-laptop) {
            column-gap: 50px;
        }

        @media(max-width: 850px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media(max-width: 600px) {
            grid-column: 2/3;
            grid-row: 1/3;
        }

        a {
            color: #000;
            font-size: 28px;
            font-weight: 400;
            line-height: 120%;

            @media(max-width: $L-laptop) {
                font-size: 18px;
                line-height: 140%;
            }

            @media(max-width: 850px) {
                font-size: 14px;
                font-weight: 300;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-item {
        display: flex;
        align-items: center;
        column-gap: 15px;
        margin-bottom: 15px;

        @media(max-width: 850px) {
            column-gap: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        & svg {
            width: 20px;
            height: 20px;
        }

        & span {
            color: #000;
            font-family: $roboto;
            font-size: 24px;
            font-weight: 500;
            line-height: 140%;

            @media(max-width: $L-laptop) {
                font-size: 18px;
                line-height: 140%;
            }

            @media(max-width: 850px) {
                font-size: 16px;
            }

            @media(max-width: $mobile) {
                font-size: 14px;
            }
        }
    }

    &-c {
        margin-top: 30px;
        color: #000;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: normal;

        @media(max-width: $L-laptop) {
            font-size: 16px;
            margin-top: 15px;
        }

        @media(max-width: $L-mobile) {
            font-size: 14px;
        }

        @media(max-width: 600px) {
            margin-top: 50px;
            font-size: 12px;
        }
    }
}

.header__menu {
    display: none;
    z-index: 103;
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 20px !important;
    margin-left: 50px;

    @media(max-width: $tablet) {
        display: block;
    }
}

.header__menu span {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10% !important;
    transition: all .3s ease;
    background: #000000;
    top: 50%;
    transform: scale(1) translate(0, -50%);
    border-radius: 5px;
}

.header__menu:after,
.header__menu:before {
    content: " ";
}

.header__menu::before {
    top: 0;
}

.header__menu::after {
    bottom: 0;
}

.header__menu::after,
.header__menu::before {
    left: 0;
    position: absolute;
    width: 100%;
    height: 10% !important;
    transition: all .3s ease;
    background: #000000;
    border-radius: 5px;
}

.header__menu.active span {
    transform: scale(0) translate(0, -50%);
}

.header__menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.header__menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}